<!-- Card -->

<div class="row my-2 justify-content-center">
  <div class="card col-9">

    <!-- Short content -->

      <div class="card-body row justify-content-between align-items-center mx-2 my-2"
           data-toggle="collapse" aria-controls="collapseContent" [attr.href]="'#collapseContent'+equipment.id">
        <!-- Title -->
        <h5 class="col-7">Name {{equipment.title}}</h5>

        <!-- Subtitle -->
        <div class=" text-center col-4">{{equipment.inventory_num}}</div>

        <span style="color: darkgray">
        <i class="fas fa-chevron-down"></i>
        </span>
      </div>


    <!-- Card content -->

    <div class=" card-body collapse-content collapse " id="collapseContent{{equipment.id}}">


      <div class="row">
        <div class="col-12" >
          <h5 class="text-black-50 offset-1 my-3 col-auto">Технічна площадка</h5>
          <div class="col-12" *ngIf="equipment.address !== null">
            <p class="offset-2 ">
              Адрес: <span>{{equipment.address.city}} {{equipment.address.street}} {{equipment.address.number}}</span>
            </p>
            <p class="offset-2">Комната: {{equipment.room}}</p>
            <p class="offset-2">Этаж: <span *ngIf="equipment.address !== null">{{equipment.address.floor}}</span></p>
          </div>
        </div>

        <div class="col">
          <hr>
        </div>

        <div class="col-12">
          <h5 class="text-black-50 offset-1 my-3 col-auto">Основное</h5>
          <div class="col-12">
            <p class="offset-2 ">Тип оборудования: {{equipment.type}}</p>
            <p class="offset-2">Производитель: {{equipment.vendor}}</p>
            <p class="offset-2">Модель: {{equipment.model}}</p>
            <p class="offset-2">Серия: {{equipment.series}}</p>
            <p class="offset-2">Серийный номер: {{equipment.serial_num}}</p>
            <p class="offset-2">Инвентарный номер: {{equipment.inventory_num}}</p>
          </div>
        </div>

        <div class="col-12">
          <h5 class="text-black-50 offset-1 my-3 col-auto">Доп. параметры</h5>
          <div class="col-12 row offset-2" *ngFor="let attribute of equipment.attributes | keyvalue">
            <div class="col-1 px-0 align-self-center py-2">
              <div class="square-dot"></div>
            </div>
            <div class="col-11">
              <p class="">Название: {{attribute.key}}</p>
              <p class="my-0">Значение: {{attribute.value}}</p>
            </div>
          </div>
        </div>

        <div class="col">
          <hr>
        </div>

        <div class="col-12">
          <h5 class="text-black-50 offset-1 my-3 col-auto">Материально ответственный</h5>
          <div class="col-12" *ngIf="equipment.user_info !== null">
            <p class="offset-2 ">ФИО: {{equipment.user_info}}</p>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="col-2 row align-items-center ml-2">

    <div class="" *ngIf="!_checkEquipment">
      <img src="assets/bootstrap/img/pencil-edit-button.png" height=20px class="align-self-center mx-2">

      <img src="assets/bootstrap/img/rubbish-bin-delete-button.png" height=20px class="align-self-center ml-3">
    </div>

    <div class="" *ngIf="_checkEquipment">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="materialUnchecked{{equipment.id}}">
        <label class="form-check-label" for="materialUnchecked{{equipment.id}}"></label>
      </div>
    </div>
  </div>
</div>

