<div class="tabs row justify-content-center" id="create-qr-from-exist">
  <div class="big-tab row justify-content-center">
    <div class="col-12 text-center">
      <h5>Виберіть або введіть інвентарний номер обладнання, для якого потрібно сформувати QR-код</h5>
    </div>

    <div class="col-2 mt-5 form-group">
      <label for="select_inventory_num">Інвентарний номер</label>
    </div>

    <div class="col-7 mt-5">
      <select id="select_inventory_num" class="form-group browser-default align-self-center custom-select"
              name="inventoryNum" [(ngModel)]="selectedInventory" #inventorySelect="ngModel" required>
        <option selected disabled>Обрати інвентарний номер</option>
        <option *ngFor="let inventory of inventoryNumSelect " [value]="inventory">{{inventory}}</option>
      </select>
    </div>

    <div class="w-100"></div>

    <div class="col-auto justify-self-end mt-4">
      <button type="submit" class="btn btn-default"
              [disabled]="inventorySelect.untouched || inventorySelect.pristine"
              (click)="loadQrCode(selectedInventory)">Знайти
      </button>
    </div>

  </div>

  <div class="big-tab col-12" style="display: none">
  <!--Result part with img-->

  <app-qr-result [image]="image" [qrImage]="qrImage">
  </app-qr-result>
    <app-alert></app-alert>
  </div>
</div>
